int input1 = 4;
int enable1 = 2;
int input2 = 5;
int button1 = 6;
int button2 = 7;
 
void setup(){
  pinMode(input1, OUTPUT);
  pinMode(enable1, OUTPUT);
  pinMode(input2, OUTPUT);
  pinMode(button1, INPUT);
  pinMode(button2, INPUT);
}
 
void rotateLeft(){
  digitalWrite(enable1, HIGH);
  digitalWrite(input2, LOW);
  digitalWrite(input1, HIGH);
}
 
void rotateRight(){
  digitalWrite(enable1, HIGH);
  digitalWrite(input1, LOW);
  digitalWrite(input2, HIGH);
}
 
void parar(){
  digitalWrite(enable1, LOW);
  digitalWrite(input1, LOW);
  digitalWrite(input2, LOW);
}
 
void loop(){
  while(digitalRead(button1) == HIGH){
    rotateLeft();
  }
 
  while(digitalRead(button2) == HIGH){
    rotateRight();
  }
 
  parar();
}
